<div id="carrito" class="uk-child-width-1-4@m" uk-grid>
    <div id="{{id}}">
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                 <img src="https://fotografias.antena3.com/clipping/cmsimages02/2022/12/20/E9EDE726-2AF4-42F4-A2B8-F6B0460D752A/leo-messi-toca-copa-mundo-futbol-ganar-final-argentina_103.jpg?crop=2185,1639,x104,y0&width=1200&height=900&optimize=low&format=webply" alt="Messi">
                {{!-- <img src={{this.thumbnail}} alt="imagen"> --}}
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{this.title}}</h3>
                <h5>ARG ${{this.price}}</h5>
                <p>{{this.description}}</p>
            </div>
        </div>
    </div>
</div>
    